# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

*

!*/


# Track these files
!.gitignore

# Whitelist everything in scripts
!Visual_Digital_Logic_Simulator/Assets/Scripts/*.cs
